{% extends 'layout.html' %}
{% block title %} Select {% endblock %}
{% block content %}

<div class="container">
    <form action="/select" method="POST">
        <div class="alert alert-success" role="alert">
            歡迎 <span>{{ session['name'] }}</span> 的登入
        </div>
        <div class="form-group">
            <label for="courseid">加選 &nbsp:&nbsp </label>
            <input type="courseid" name="cid" placeholder="Enter courseID">
        </div>
            <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <!-- <button type="submit" class="btn btn-primary" onclick="myFunction()">Submit</button> -->
        </div>
        <!-- <script>
            function myFunction(){
              alert("加選成功");
            }
        </script> -->
    </form>

{% endblock %}